@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant hover (&:hover);

@layer base {
	:root {
		--color-primary: #f3f5f7;
		--color-text-primary: #121212;
		--color-secondary: #ffffff;
		--color-accent: #3983fa;
		--color-border-gray: #d9e6f1;
		--color-lighter-dark3: #e4f0fe;
		--toastify-color-success: var(--color-accent);
		--swiper-pagination-bullet-size: 12px;
		--swiper-pagination-bullet-inactive-color: var(--color-gray);
	}

	html.dark {
		--color-primary: #121212;
		--color-text-primary: #ffffff;
		--color-secondary: #1e1e1e;
		--color-accent: #48e5c2;
		--color-border-gray: #262626;
		--color-lighter-dark3: #333333;
		--toastify-color-success: var(--color-accent);
	}

	body {
		@apply text-text-primary bg-primary font-sans;
	}

	@media (max-width: 1280px) {
		:root {
			--swiper-pagination-bullet-size: 16px;
		}
	}
}

@layer components {
	.hamburger {
		cursor: pointer;
		width: 18px;
		height: 18px;
		transition: all 0.25s;
		position: relative;
	}

	.hamburger-top,
	.hamburger-middle,
	.hamburger-bottom {
		content: "";
		position: absolute;
		width: 18px;
		height: 2px;
		top: 0;
		left: 0;
		transform: rotate(0);
		transition: all 0.5s;
	}

	.hamburger-middle {
		transform: translateY(7px);
	}

	.hamburger-bottom {
		transform: translateY(14px);
	}

	.open {
		transform: rotate(90deg);
		transform: translateY(0px);
		position: fixed;
		top: 50px;
		right: 25px;
	}

	.open .hamburger-top {
		transform: rotate(45deg) translateY(6px) translateX(6px);
	}

	.open .hamburger-middle {
		display: none;
	}

	.open .hamburger-bottom {
		transform: rotate(-45deg) translateY(6px) translateX(-6px);
	}

	.project-swiper-dark {
		--swiper-navigation-color: #48e5c2;
		--swiper-pagination-color: #48e5c2;
	}

	.swiper-wrapper {
		margin-bottom: 2.5rem;
	}

	.project-carousel .swiper-wrapper {
		margin-bottom: 0;
	}

	.project-carousel .swiper-slide {
		height: 100% !important;
	}

	.history-wrapper {
		@apply bg-secondary border-border-gray lg:before:bg-border-gray dark:lg:before:bg-gray/35 relative flex w-full flex-col items-center gap-y-12 rounded-sm border border-solid px-12 py-7.5 lg:before:absolute lg:before:top-0 lg:before:bottom-0 lg:before:left-1/2 lg:before:my-7.5 lg:before:w-1;
	}

	.history-row-wrapper {
		@apply before:bg-accent relative flex w-full justify-center before:absolute before:top-full before:left-1/2 before:h-full before:w-1 last:before:content-none lg:before:content-none lg:odd:justify-start lg:even:justify-end;
	}

	.history-row-item {
		@apply bg-primary dark:bg-lighter-dark3 dark:group-hover:bg-primary group-hover:bg-light-blue flex w-87.5 items-start justify-start gap-10 rounded-sm py-5 pl-10 hover:cursor-pointer;
	}
}

@theme {
	--color-primary: var(--color-primary);
	--color-text-primary: var(--color-text);
	--color-secondary: var(--color-secondary);
	--color-accent: var(--color-accent);
	--color-border-gray: var(--color-border-gray);
	--color-lighter-dark2: #282828;
	--color-lighter-dark3: var(--color-lighter-dark3);
	--color-gray: #888888;
	--color-gray-2: #333333;
	--color-light-blue: #e4f0fe;
	--color-theme-switcher-bg: #1e1e1e;
	--font-sans:
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--breakpoint-xsl: 31.25rem;
	--breakpoint-3xl: 110rem;
	--breakpoint-4xl: 160rem;
}

@utility flex-center {
	@apply flex items-center justify-center;
}

@utility input {
	@apply focus:border-accent bg-white px-2 py-3 text-black outline-none focus:border;
}
