@import "tailwindcss";

:root {
	--toastify-color-success: #48e5c2;
}

@custom-variant hover (&:hover);

@layer base {
}

@layer components {
	body {
		@apply text-white font-sans;
	}

	.project-swiper {
		--swiper-navigation-color: #48e5c2;
	}
}

@theme {
	--color-primary: #121212;
	--color-secondary: #1e1e1e;
	--color-lighter-dark: #262626;
	--color-lighter-dark2: #282828;
	--color-lighter-dark3: #333333;
	--color-gray: #888888;
	--color-accent: #48e5c2;
	--font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue",
		sans-serif;
	--spacing-negative-margin: -31px;
	--breakpoint-xsl: 31.25rem;
	--breakpoint-3xl: 107rem;
	--breakpoint-4xl: 160rem;
}
